/* Common Style */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.common-text{
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    font-size: 1rem;
}
/* Style Banner Section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style-type: none;
    margin-left: 30px;
}
nav li a{
    color: #424242;
    text-decoration: none;
}
.header-title{
    color: #131313;
    font-size: 2.8rem;
}
.banner-info{
    width: 80%;
    text-align: center;
    margin: 50px auto;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    margin: 32px;
}
.banner img{
    width: 100%;
}
/* main section style */
.main-section{
    width: 100%;
    margin: 50px auto;
}
/* team section style */
.team-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    width: 38%;
}
.img-size{
    width: 100%;
}
.team-content{
    padding-left: 70px;
    width: 38%;
}
.quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.our{
    color: #131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}
.txt-feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Responsoive Design Media Query for Mobile verson */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .header-title{
        font-size: 2rem;
    }
    .banner-info{
        width: 100%;
    }
    .team-section{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .team-content{
        padding: 0;
        width: 100%;
    }
}
/* media query for tablet version */
@media screen and (min-width:576px) and (max-width:980px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }
    .header-title{
        font-size: 2.2rem;
    }
    .banner-info{
        width: 90%;
    }
}